<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">Tienda CostaAzul</p>
            <nav class="navbar">
                <a href="#somos-costaazul">Sobre Nosotros</a>
                <a href="#nuestras-tiendas">Nuestra Ubicacion</a>
                <a href="#caracteristicas">caracteristicas</a>
            </nav>
        </div>
    </header>
    <section id="hero">
        <h1>Compra Tiempos Seguramente <br>con Nosotros</h1>
        <button>COMPRAR AQUI!</button>
    </section>
    <section id="somos-costaazul">
        <div class="container">
            <div class="img-container"></div>
            <h2>Somos Costa Azul!</h2>
            <p>Rutrum justo nisl viverra vestibulum nunc sed orci tristique natoque,
                cum sollicitudin lacinia ligula tincidunt iaculis sodales mattis.
                Quis curae fames urna nascetur montes consequat justo ultricies purus
                habitant lacus euismod cursus, pharetra pellentesque sollicitudin morbi
                ligula cubilia himenaeos nulla est facilisis mauris nostra.
            </p>
        </div>
    </section>
    <section id="nuestras-tiendas">
        <div class="container">
            <h2>Nuestras Tiendas</h2>
            <div class="tiendas">
                <div class="carta">
                    <h3>Tienda Costa Azul</h3> 
                    <p>Rutrum justo nisl viverra vestibulum nunc sed orci tristique natoque,
                        cum sollicitudin lacinia ligula tincidunt iaculis sodales mattis.
                        Quis curae fames urna nascetur montes consequat justo ultricies purus
                        habitant lacus euismod cursus, pharetra pellentesque sollicitudin morbi
                        ligula cubilia himenaeos nulla est facilisis mauris nostra.</p>
                    <button>Ubicacion</button>
                </div>
    
                <div class="carta">
                    <h3>Nuestra carniceria</h3> 
                    <p>Rutrum justo nisl viverra vestibulum nunc sed orci tristique natoque,
                        cum sollicitudin lacinia ligula tincidunt iaculis sodales mattis.
                        Quis curae fames urna nascetur montes consequat justo ultricies purus
                        habitant lacus euismod cursus, pharetra pellentesque sollicitudin morbi
                        ligula cubilia himenaeos nulla est facilisis mauris nostra.</p>
                    <button>Ubicacion</button>
                </div>
    
                <div class="carta">
                    <h3>Nuestra segunda Tienda</h3> 
                    <p>Rutrum justo nisl viverra vestibulum nunc sed orci tristique natoque,
                        cum sollicitudin lacinia ligula tincidunt iaculis sodales mattis.
                        Quis curae fames urna nascetur montes consequat justo ultricies purus
                        habitant lacus euismod cursus, pharetra pellentesque sollicitudin morbi
                        ligula cubilia himenaeos nulla est facilisis mauris nostra.</p>
                    <button>Ubicacion</button>
                </div>
            </div>
        </div>
    </section>
    <section id="caracteristicas">
        <div class="container">
            <ul>
                <li>✔️ Compra de manera segura</li>
                <li>✔️ Soporte</li>
                <li>✔️ Venta de tiempos en tiempo real</li>
                <li>✔️ Reclama tu premio </li>
            </ul>
        </div>
    </section>
    <main id="main">
        <div class="container">
            <h2>Tabla de Tiempos</h2>
            <table> </table>
            <button>Comprar!</button>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; Costa Azul 2025</p>
        </div>
    </footer>
</body>
</html>