{% include 'header.html' %}

<div class="container">
    <div class="container-update">
        <h3>Actualizar Validaciones</h3>

    <!-- Mostrar datos actuales -->
    <div class="container-validaciones">
        <div class="card-validacion">
            <h4>Valores Actuales</h4>
            <ul>
                <li><strong>Límite Máximo:</strong> ₡{{ limiteMax }}</li>
                <li><strong>Límite Máx. Reventado:</strong> ₡{{ limiteReventadoMax }}</li>
                <li><strong>Pago por Número:</strong> *{{ pagoxNumero }}</li>
                <li><strong>Pago por Reventado:</strong> *{{ pagoxReventado }}</li>
            </ul>
        </div>
    </div>

    <!-- Formulario -->
    <form action="{{ url_for('main.ActualizarValidaciones') }}" method="post" class="form-validaciones">
        <label id="label-sorteo" for="sorteo">Sorteo:</label>
            <select class="inputValidations" id="sorteo" name="sorteo" required>
                {% for sorteo in sorteos%}
                    <option value="{{ sorteo.idLista }},{{ sorteo.Hora_Cierre }}">{{ sorteo.Nombre }} {{ sorteo.Hora_Cierre }}PM </option>
                {% endfor %}
            </select>
            
        <label for="limiteMax">Límite Máximo</label>
        <input type="number" name="limiteMax" id="limiteMax" class="inputValidations" value="{{ limiteMax }}" oninput="validateNumberInput(event)" required>

        <label for="limiteReventadoMax">Límite Máximo de Reventado</label>
        <input type="number" name="limiteReventadoMax" id="limiteReventadoMax" class="inputValidations" value="{{ limiteReventadoMax }}" oninput="validateNumberInput(event)" required>

        <label for="pagoxNumero">Pago por Número</label>
        <input type="number" name="pagoxNumero" id="pagoxNumero" class="inputValidations" value="{{ pagoxNumero }}" oninput="validateNumberInput(event)" required>

        <label for="pagoxReventado">Pago por Reventado</label>
        <input type="number" name="pagoxReventado" id="pagoxReventado" class="inputValidations" value="{{ pagoxReventado }}" oninput="validateNumberInput(event)" required>

        <button type="submit" class="btn-actualizar">Actualizar Validaciones</button>
    </form>
    </div>
</div>

{% with mensajes = get_flashed_messages() %}
  {% if mensajes %}
    {% for msg in mensajes %}
    <script>
        alert("{{ msg }}");
    </script>
    {% endfor %}
  {% endif %}
{% endwith %}

<script>
    function validateNumberInput(event) {
        const input = event.target;
        const value = input.value;

        // Verificar si el valor es un número válido
        if (isNaN(value) || value < 0) {
            alert("Por favor, ingrese un número válido.");
            input.value = ""; // Limpiar el campo
        }
    }
</script>
{% include 'footer.html' %}
